{{ define "main" }}
  {{ .Content }}
  <!-- hero -->
    <div class="hero">
      <p class="subtitle">ceci n'est pas un</p>
      <div class="portfolio"></div>
    </div>

    <!-- about -->
    <div class="about">
      <div class="about_80-h">
        <div class="about_content_title">
          <h1 class="title">neven <br>guegan</h1>
          <span class="phonetique">[nevɛn gegã]</span>
          <div class="dash"></div>
        </div>
        <div class="about_content_skills">
          <p class="skills">UI & UX design</p>
          <p class="skills">Webdesign</p>
          <p class="skills">D.A</p>
          <p class="skills">Courbage de bananes</p>
        </div>
      </div>

      <!-- button -->
      <div class="about_20-h">
        <a href="#about" class="button_main">
          <svg class="button_icon">
            <use xlink:href="/svg/arrow_right.svg"></use>
          </svg>
        </a>
      </div>
    </div>

    <!-- work -->
    <div class="work">

      <!-- projects -->
      <div class="work_80-h">
        <div class="work_content_title">
          <p class="title">some <br>work</h1>
          <div class="dash"></div>
        </div>

        <!-- work highlight -->
        <div class="work_card">
          <div class="card_content">
            <p class="card_title">un projet tah les fous</p>
            <a href="#project_1" class="button_plus"></a>
          </div>
        </div>

        <div class="work_card_2">
          <div class="card_content_2">
            <p class="card_title_2">Peugeot Ferrières-en-Bray</p>
            <div class="card_tags">
              <div class="card_tag">
                <p>site</p>
              </div>
              <div class="card_tag">
                <p>d.a</p>
              </div>
            </div>
            <a href="#project_1">
              <p>see more</p>
            </a>
          </div>
        </div>
        
        <!-- <div class="work_card">
          <div class="card_content">
            <p class="card_title">un projet tah les fous</p>
            <a href="#project_1" class="button_plus"></a>
          </div>
        </div>

        <div class="work_card">
          <div class="card_content">
            <p class="card_title">un projet tah les fous</p>
            <a href="#project_1" class="button_plus"></a>
          </div>
        </div>
      </div> -->

      <!-- button -->
      <div class="about_20-h">
        <a href="#about" class="button_main">
          <svg class="button_icon">
            <use xlink:href="/svg/cross.svg"></use>
          </svg>
        </a>
      </div>
    </div>

    <!-- contact -->
    <div class="contact">
      <div class="contact_current-state">
        <p class="current_state">available for work</p>
        <div class="contact_mail"></div>
      </div>
    </div>

{{ end }}