<div class="footer">
    <div class="footer_svg"></div>

    <ul class="footer_nav">
        <li class="footer_nav_item"><a href="/">home</a></li>
        <li class="footer_nav_item"><a href="about.html">about</a></li>
        <li class="footer_nav_item"><a href="work.html">work</a></li>
        <li class="footer_nav_item"><a href="contact.html">contact</a></li>
    </ul>

    <div class="social_media">
        <a href="#linkedin" class="social_media_item">
            <img src="/svg/linkedin.svg" alt="Logo LinkedIn">
            <p class="social_media_tag">Néven Guégan</p>
        </a>
    </div>

    <div class="footer_mentions">
        <p class="copyright">© tous droits réservés - <a href="#mentions-legales">mentions légales</a></p>
    </div>
</div>