<div class="nav_container">
        <!-- burger menu -->
        <button class="navbar_burger">
            <span class="burger_slice"></span>
            <span class="burger_slice"></span>
            <span class="burger_slice"></span>
        </button>

        <!-- nav -->
        <ul class="navbar_menu">
            <li><a href="/">home</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="work.html">work</a></li>
            <li><a href="contact.html">contact</a></li>
        </ul>
</div>